In [10]:
my_number = 12345

In [11]:
type(my_number)

int

In [12]:
my_float = 3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [13]:
6 / 5

1.2

In [14]:
6 // 5

1

In [15]:
8 % 4

0

In [16]:
5 % 7

5

In [17]:
5 % 3

2

### Anohter way to look at modula

In [18]:
whole_part = int(5 / 3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [19]:
whole_remainder = decimal_part * 3
print(whole_remainder)

2.0

In [20]:
2 ** 3

8

In [21]:
4 ** 0.5

2.0

In [22]:
int(3.45)

3

In [23]:
float(14)

14.0

In [24]:
round(3.1415, 2)

3.14

In [26]:
round(3.1415)

3

In [27]:
print(type(round(3.1415)))

<class 'int'>

In [28]:
import math

In [29]:
print(math.floor(3.99999))

3

In [30]:
2 + 3 * 4

14

In [31]:
(2 + 3) * 4

20

In [32]:
0.1 * 3

0.30000000000000004

In [33]:
from decimal import Decimal

In [34]:
Decimal('0.1')

Decimal('0.1')

In [35]:
Decimal('0.1') * 3

Decimal('0.3')

In [50]:
import random
random.randint(0, 99)

98

## STRÄ°NGS

In [51]:
my_string = 'my text is importatnt'
print(my_string)

my text is importatnt

In [52]:
my_string = 'my text is "importatnt"'
print(my_string)

my text is "importatnt"

In [53]:
long_string = '''
###
text
   example
'''
print(long_string)

###
text
   example

In [54]:
str(my_number)

'12345'

In [56]:
my_number = 42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [57]:
my_string[0]

'm'

In [58]:
print(my_string)
print(my_string[0])

my text is "importatnt"
m

In [59]:
len(my_string[-1])

1

## Slice

In [60]:
my_string[1:4]

'y t'

In [61]:
my_string[:4]

'my t'

In [62]:
my_string[1:]

'y text is "importatnt"'

In [63]:
my_string[::2]

'm eti ipran"'

In [64]:
my_string[::-1]

'"tntatropmi" si txet ym'

In [65]:
my_string.split()

['my', 'text', 'is', '"importatnt"']

In [66]:
my_string.split(',')

['my text is "importatnt"']

In [67]:
animals = ["cat, dog, horse"]

In [68]:
" ".join(animals)

'cat, dog, horse'

In [69]:
"".join(animals)

'cat, dog, horse'

In [70]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
t
n
t
"

### fstrings

In [71]:
name = "kemal"
age= 33
print(f"My name is {name} and my age is {age}")

My name is kemal and my age is 33

In [73]:
import datetime

In [74]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:45:18.303988

In [76]:
print(f"{today: %d %m %Y}")

 26 11 2023

In [77]:
print(f"{today: %d %B %Y}")

 26 November 2023

## BOOLEAN

In [78]:
bool(1)

True

In [79]:
bool()

False

In [80]:
if True:
    print("yes it is true")

yes it is true

In [81]:
my_variable = 0
if my_variable:
    print("yes it is true")

In [82]:
my_variable is True

False

In [83]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no its is false")

no its is false